<h1>User#new_answer</h1>

<p>Hi <%= @answer.question.user.name %>,</p>

<p>Your question has been answered by a lawyer</p>

<p><%= @answer.content %></p>

<p>go here if you wan to see it</p>

<p>See ya!</p>
