.calculator-title-container {
  text-align: -webkit-center;
}

.calculator-title-container h1 {
  // margin-bottom: 15px;
  margin-top: 20px;
  color: #283060;
  font-weight: bold;
}

.calculator-title-container p {
  color: #888888;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.calculator-container {
  margin: 0 10%;
}

.calculator-section-container {
  border: black solid 1px;
  border-radius: 3px;
  margin: 20px;
  width: 45%;
  padding: 10px;
}

.calculator-subtitle {
  color: #505FB3;
  text-align: center;
  margin: 30px auto 20px auto;
  font-size: 20px;
  font-weight: bold;
}

.calculator-section-break-line {
  border-top: 2px solid #000000;
  width: 80%;
  align: center;
  margin-left: 10%;
}

.calculator-explanation-container h1 {
  margin-bottom: 15px;
  margin-top: 20px;
  color: #283060;
  font-weight: bold;
  text-align: center;
}


// .add-a-new-question-section-container {
//   text-align: -webkit-center;
// }

// .add-a-new-question-section-container p {
//   color: #888888;
//   font-weight: bold;
//   font-size: 20px;
//   margin-bottom: 25px;
//   margin-top: 30px;
// }

// .add-a-new-question-section-container h1 {
//   margin-bottom: 25px;
//   margin-top: 30px;
//   color: #283060;
//   font-weight: bold;
// }

// .forum-section-break-line {
//   border-top: 2px solid #000000;
//   width: 80%;
//   align: center;
//   margin-left: 10%;
// }
