.forum-banner {
  background-color: #283060;
  height: 300px;
  color: white;
}

.forum-banner-container {
  text-align: center;
}

.question-card {
    overflow: hidden;
    height: 120px;
    border: 1px solid black;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  .forum-banner-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 80px;
    line-height: 300px;
    text-decoration: underline 5px solid #FEF054 ;
  }

  // .forum-title-line {
  //   border-bottom: 5px solid #FEF054;
  //   display: block;
  //   width: 250px;
  //   margin-top: -20px;
  // }
