
.forums-container{

  h1{
    font-family: Inter;
    color: #354186;

  }
  h2{
    font-family: Inter;
    font-weight: 500;
    color: #354186;
    font-size: medium;
    font-size: large;
    scroll-padding-top: 5%;
  }

  .icon-size{
    width: 75px;
    padding-bottom: 10px;
  }
  .icon-text{
    h3{
      font-size: large;
      padding: 10px, 0, 10px, 0;
      font-family:Inter;
      font-weight: 300;
      text-decoration: none;
    }
  }
}

.forum-categories-container {
  display: flex;
  justify-content: space-evenly;

}

.forum-category-card {
   display: grid;
  //  margin-right: 50px;
 }

.forum-category-card h3 {
  color:#505FB3;
  font-size: 20px;
  // margin: 30px;
  // padding: 20px;
  // margin-bottom: 0px;
}

// .blue-icon {
//   height: 80px;
//   margin: auto;
//   margin-bottom: 20px;
// }

.forum-category-card a h3 {
  color: #505FB3;
  text-decoration: none;
}

.add-a-new-question-section-container {
  text-align: -webkit-center;
}

.add-a-new-question-section-container p {
  color: #888888;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.add-a-new-question-section-container h1 {
  margin-bottom: 25px;
  margin-top: 30px;
  color: #283060;
  font-weight: bold;
}

.forum-section-break-line {
  border-top: 2px solid #000000;
  width: 80%;
  align: center;
  margin-left: 10%;
}

.forum-form-container {
  // width: 900px;
  margin: 50px 10% 50px 10%;
}


.forum-form-container h1 {
  color: #283060;
  font-weight: bold;
}

.forum-questions{
  padding-top: 30px;
  margin: 0 10%;
  margin-bottom: 60px;
}

.forum-questions h1 {
  color: #283060;
  font-weight: bold;
  margin-bottom: 20px;
}

.forum-questions h5 a {
  color: #505FB3;
  text-decoration: none;
  font-weight: bold;
}

.submit-question-button {
  background-color: #FEF054;
  border: none;
  color: rgb(23, 16, 16);
  padding: 15px 15px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 14px;
  border-radius: 5px;
  // margin-bottom: -30px;
}
