
.forums-container{

  h1{
    font-family: Inter;
    color: #354186;

  }
  h2{
    font-family: Inter;
    font-weight: 500;
    color: #354186;
    font-size: medium;
    font-size: large;
    scroll-padding-top: 5%;
  }
  .icon-size{
    width: 75px;
    padding-bottom: 10px;
  }
  .icon-text{
    h3{
      font-size: large;
      padding: 10px, 0, 10px, 0;
      font-family:Inter;
      font-weight: 300;
    }
  }

  .add-question{

    color: #354186;

  }

  .forum-questions{
    padding-top: 50px;
  }
}
