// Specific CSS for your home-page
.home-banner {
  height: 1000px;
  background: linear-gradient(hsla(300%, 80%, 20%, 0.0),60%, rgb(40,48,96)),
              url(bannerpic.png) no-repeat center center / cover;
  display: grid;
  place-items: center;
}

.gradient-bg {
  background: linear-gradient(#283060,60%, #04198D),
}

.center-grid {
  display: grid;
  place-items: center;
}
.line {
  border-bottom: 5px solid #FEF054;
  display: block;
  width: 425px;
}
.main-title {
  font-size: 80px;
  color: #FFFFFF;
  font-weight: bold;
}
.blue-title {
  font-size: 40px;
  color: #283060;
  font-weight: bold;
}
.titles-white{
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 20px;
}
.cards-white{
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 20px;
  padding: 30px;
}

.yellow-button {
  background-color: #FEF054;
  border: none;
  color: rgb(23, 16, 16);
  padding: 16px 72px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
}

.icon-home {
  width: 80px;
  padding-bottom: 10px;
}

.icon-topic {
  width: 120px;
  padding-bottom: 10px;
}

.image-hands {
  width: 100%;
  height: 280px;
}

.center-content {
  place-content: center;
}

.banner-text {
  place-content: center;
}

.categories-container {
  display: flex;
  justify-content: space-evenly;

}

// .category-card {

// }

// .card-image {

// }

.card-topics {
  background-color: #2F8F9D;
  color: #FFFFFF;
  text-decoration: none;
  padding:10px;
}

.home-text-grey {
  font-size: 20px;
  color: #888888;
  font-weight: 500;
  padding-top: 20px;
  text-align: center;
}
.text-blue{
  font-size: 20px;
  color: #283060;
  font-weight: bold;
  padding-top: 20px;
  padding: 30px;
  text-align: center;
}
