.questions-answer-container{
  width: 900px;
  margin: 5% 15% 15%;
  margin-bottom: 30px;

  h3{
    font-family: 'Inter';
    color: #354186;
    font-weight: 700;
    padding-bottom: 15px;
    font-size: 35px;
  }

  .title-text{
    font-family: 'Inter';
    font-weight: 600;
    color: #505FB3;
    font-size: 20px;
    text-decoration: none;

  }
  .content-text{
    color:#36454F;
    text-decoration: none;
  }

  .username-text{
    color:#36454F;
    text-decoration: none;
    font-size: 18px;
  }
  .question-card{

  }
}
