.banner-title {
  position:absolute;
//   width: 422px;
//   height: 58px;
//   left: 175px;
//   top: 447px;
//   right: 32px;
  color: #283060;
//   font-size: 36px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.main-section-container {
  margin-top: 60px;
}

.title-container {
  text-align: center;
}
