<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/stylesheets/components/footer.scss">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Terminated</a></li>
                <li class="list-inline-item"><a href="#">Resigning</a></li>
                <li class="list-inline-item"><a href="#">Unpaid Bonus</a></li>
                <li class="list-inline-item"><a href="#">Unpaid Hours</a></li>
            </ul>
            <p class="copyright">Accesible Rights © 2022</p>
        </footer>
    </div>
</body>

</html>
