<div class="banner">
  <div class="container">
    <h1 class="banner-title">Unpaid hours</p>
  </div>
</div>


<div class="main-section-container">
  <div class="title-container">
    <h1>Unpaid hours</h1>
    <p>Find out more information about resignation and your rights as an employee</p>
  </div>
  <div class="explanation-container">
    <h3>title</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        tempor ipsum in libero aliquam, vel vulputate odio sollicitudin.
        Nam ultrices sodales massa, vitae tempor ex congue eu. Aenean accumsan
        urna sit amet suscipit finibus. Pellentesque pulvinar mattis laoreet.
        Donec sed sodales erat, id maximus metus. Donec blandit, nibh non condimentum
        congue, elit neque eleifend ex, vel interdum justo elit at urna. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce
        et hendrerit urna.
    </p>
    <p>
        Morbi ultrices, mi at ultricies accumsan, dolor mauris malesuada elit,
        eu imperdiet tellus dolor sit amet mauris. In iaculis turpis in lacus sagittis
        accumsan. Phasellus tincidunt, nunc at consequat porttitor, nibh sem semper enim,
        eget iaculis risus nisl vel turpis. Etiam ut elementum quam, vel pellentesque ipsum.
        Nunc eu mattis nunc. Donec imperdiet malesuada ligula, sed rhoncus ante maximus vitae.
        Fusce vehicula pulvinar augue, id bibendum orci efficitur in. Maecenas eget tristique
        purus. Sed eget arcu a nisi facilisis lacinia et sed nisl. Nullam ultrices consectetur
        tortor quis porta. In hac habitasse platea dictumst.
    </p>
    <p>
        Etiam blandit nibh non facilisis ultricies. In faucibus lectus nisi, sed bibendum quam
        pulvinar non. Mauris non elit vel tortor cursus lacinia. Nullam faucibus lacus in
        viverra venenatis. Quisque sed nibh feugiat, ullamcorper arcu eget, pellentesque
        lectus. Nam at tortor elit. Curabitur tempor neque tortor, in euismod dui dapibus at.
        Nullam sit amet orci turpis.
    </p>
    <h3>title</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
      tempor ipsum in libero aliquam, vel vulputate odio sollicitudin.
      Nam ultrices sodales massa, vitae tempor ex congue eu. Aenean accumsan
      urna sit amet suscipit finibus. Pellentesque pulvinar mattis laoreet.
      Donec sed sodales erat, id maximus metus. Donec blandit, nibh non condimentum
      congue, elit neque eleifend ex, vel interdum justo elit at urna. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce
      et hendrerit urna.
    </p>
    <ul>
      <li>Lorem ipsum</li>
      <li>Lorem ipsum</li>
      <li>Lorem ipsum</li>
    </ul>
  </div>
  <div class="next-steps-section">
    <h2>Dig deeper into next steps</h2>
    <div class="ask-a-question-container">
      <img src="#" alt="ask a question icon" />
      <a class="" href="#">Ask a question</a>
    </div>
    <div class="calculator-container">
      <img src="#" alt="ask a question icon" />
      <a class="" href="#">Calculator</a>
    </div>
  </div>
  <div class="related-problems-section">
    <h2>Related problems you might want to check</h2>
    <div class="resigning-container">
      <h3>resigning</h3>
      <img src="images/blue_resign_icon.png" alt="resigning icon" />
      <a class="" href="#">Read</a>
    </div>
    <div class="unpaid-bonus-container">
      <h3>Unpaid bonus</h3>
      <img src="blue_unpaid_bonus_icon.png" alt="unpaid bonus icon" />
      <a class="" href="#">Read</a>
    </div>
    <div class="unpaid-hours-container">
      <h3>Unpaid hours</h3>
      <img src="blue_unpaid_hours_icon.png" alt="unpaid hours icon" />
      <a class="" href="#">Read</a>
    </div>
  </div>
