.forum-banner{
  background-color: #283060;
  height: 300px;
  color: white;
  text-align: center;

  h1{
    padding-top: 5%;
    padding-bottom: 3%;
    font-family: 'inter';
    font-size: 70px;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #FEF054;


  }

  p{

    font-family: inter;
    font-weight: 200;
    font-size: 20px;
  }

}
