.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 24px;
  color:#04198D;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color:#04198D;
  margin-right: 34px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 350px;
}
