.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 24px;
  color: rgb(40, 48, 96) ;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(40, 48, 96) ;
  margin-right: 34px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
